body { 
  font-family:'Times New Roman', Times, serif;
  margin: 20px;
} 
input { 
  padding: 5px;
  font-size: 16px;
} 

button {
  margin-left: 10px; 
  cursor: pointer;
} 

img { 
  border: 1px solid #ccc; 
  margin-top: 10px;
}